@import './animation';

#auth {
    margin-top: -25px;
  animation: change-image 60s infinite alternate;
    #topinfo {
        height: 85px;
        color: #ecf0f1;
        background-color: $darkBlue;
        align-items: center;
        text-align: center;
        #headcall {
            height: 85px;
            background-color: #d35400;
            a {
                color: white;
                text-decoration: underline;
                &:hover {
                    color: #bdc3c7;
                }
            }
            i {
                margin-top: 5%;
            }
        }
        i {
            font-size: 125%;
        }
    }
}