.header {
  top: 84px;
  width: 100%;
  height: 70px;
  line-height: 52px;
  background-color: #2b9155;
  position: absolute;
  z-index: 999;
  font-size: 125%;
}

.header .header-logo {
  color: white;
  font-family: "Montserrat", sans-serif;
  float: left;
  margin-left: 10%;
}

.header .header-menu {
  float: right;
  margin-right: 10%;
}

.header .header-menu button, .header .header-menu a {
  cursor: pointer;
  font-size: 105%;
  border: none;
  outline: none;
  background-color: #2b9155;
  margin-right: 25px;
  color: white;
}

.header .header-menu button i, .header .header-menu a i {
  margin-right: 10px;
}

.header .header-menu button:hover, .header .header-menu a:hover {
  color: #bdc3c7;
}

.header .navbar-burger {
  background-color: #2b9155;
  border: none;
  outline: none;
  margin-right: 5%;
  margin-top: 1.75%;
  color: white;
}

.header .navbar-burger span {
  height: 2px;
}

.header .navbar-dropdown i {
  margin-right: 3%;
}

.header #navMenu {
  font-size: -25%;
}

.fixedHead {
  top: 0;
  left: 0;
  position: fixed;
}

@-webkit-keyframes change-image {
  0% {
    background-image: url("../assets/bgBanner1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  20% {
    background-image: url("../assets/bgBanner2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  40% {
    background-image: url("../assets/bgBanner3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  60% {
    background-image: url("../assets/bgBanner4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  80% {
    background-image: url("../assets/bgBanner5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("../assets/bgBanner6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes change-image {
  0% {
    background-image: url("../assets/bgBanner1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  20% {
    background-image: url("../assets/bgBanner2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  40% {
    background-image: url("../assets/bgBanner3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  60% {
    background-image: url("../assets/bgBanner4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  80% {
    background-image: url("../assets/bgBanner5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("../assets/bgBanner6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#banner {
  margin-top: -25px;
  -webkit-animation: change-image 60s infinite alternate;
          animation: change-image 60s infinite alternate;
}

#banner .columns {
  height: 85px;
  color: #ecf0f1;
  background-color: #2c3e50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#banner .columns #headcall {
  height: 85px;
  background-color: #d35400;
}

#banner .columns #headcall button {
  font-size: 105%;
  background-color: #d35400;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

#banner .columns #headcall button:hover {
  color: #bdc3c7;
}

#banner .columns #headcall i {
  margin-top: 5%;
}

#banner .columns i {
  font-size: 125%;
}

#banner .container h1 {
  color: white;
}

#banner .container .aws-btn {
  --button-primary-color: #475472;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-color-active: #3d4b6d;
  --button-primary-border: none;
}

#engagements {
  background-color: #FCFBF7;
}

#engagements .about .columns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#engagements .about .columns .about-single-element {
  padding: 5%;
  text-align: center;
}

#engagements .about .columns .about-single-element p {
  text-align: left;
  margin-top: 20px;
}

.products {
  background-color: #2c3e50;
  padding-bottom: 4%;
}

.products h1 {
  color: white;
}

.products .columns .column .items {
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

.products .columns .column .items h2 {
  font-size: 200%;
  color: black;
}

.products .columns .column .items:hover {
  background-color: #FCFADD;
}

.products .columns .column .items:hover h2 {
  text-decoration: underline;
}

#footer {
  padding-top: 2%;
  background-color: #cfa970;
}

#footer .container {
  margin-bottom: 2%;
  text-align: center;
}

#footer .container h2 {
  font-size: 175%;
}

#footer .container h3 {
  font-size: 120%;
}

#footer .container h4 {
  font-size: 110%;
  color: white;
}

#footer .container #footcall {
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 10px;
  width: 325px;
  height: 100px;
  color: white;
  background-color: #d35400;
}

#footer .container #footcall button {
  font-size: 105%;
  background-color: #d35400;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

#footer .container #footcall button:hover {
  color: #bdc3c7;
}

#footer .container #footcall i {
  margin-top: 5%;
}

#footer .container #footLogo {
  font-weight: bold;
}

#footer .container #map {
  border: 1px solid black;
  border-radius: 20px;
}

#footer h5 {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 15%;
  background-color: #2c3e50;
  color: white;
}

#footer a {
  color: white;
  text-decoration: underline;
}

#footer a:hover {
  color: #bdc3c7;
}

#contact {
  margin-top: -25px;
  padding-bottom: 3%;
  background-color: #FCFBF7;
}

#contact h2 {
  margin-top: 5%;
}

#contact #topInfo {
  height: 85px;
  color: #ecf0f1;
  background-color: #2c3e50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#contact #topInfo #headcall {
  height: 85px;
  background-color: #d35400;
}

#contact #topInfo #headcall a {
  color: white;
  text-decoration: underline;
}

#contact #topInfo #headcall a:hover {
  color: #bdc3c7;
}

#contact #topInfo #headcall i {
  margin-top: 5%;
}

#contact #topInfo i {
  font-size: 125%;
}

#contact #infos {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #2C2F37;
}

#contact #infos h1 {
  padding: 5%;
  color: #B58F56;
}

#contact #infos h2 {
  color: white;
  padding: 5%;
}

#contact #infos h2 i {
  margin-right: 5%;
}

#contact #infos a {
  color: #2B9155;
}

#contact #infos a:hover {
  color: #233F34;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: gray;
  border: 2px solid #F5F5F5;
}

.heading-site {
  padding-top: 2.5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 300%;
}

/*
RESPONSIVE
*/
@media screen and (max-width: 1024px) {
  #computer_navbar {
    display: none;
  }
  #tophead {
    display: none;
  }
  #contact {
    padding-top: 5%;
  }
  #contact #formContact {
    padding-left: 5%;
    padding-right: 5%;
  }
  #contact #topInfo {
    display: none;
  }
  #footer .items {
    margin-top: 3%;
  }
  .header {
    top: 0;
  }
}

@media screen and (min-width: 1024px) {
  #responsive_navbar {
    display: none;
  }
  .header {
    line-height: 70px;
  }
  #banner .container {
    margin-top: 10%;
    margin-left: 20%;
  }
  #footer .items {
    margin-top: 50%;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@media screen and (max-width: 310px) {
  .banner-content h2 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */