.about {
    .columns {
    align-items: center;
        .about-single-element {
            padding: 5%;
            text-align: center;
            p {
                text-align: left;
                margin-top: 20px;
            }
        }
    }
}
