@-webkit-keyframes change-image {
    0% {
        background-image: url('../assets/bgBanner1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    20% {
        background-image: url('../assets/bgBanner2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    40% {
        background-image: url('../assets/bgBanner3.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    60% {
        background-image: url('../assets/bgBanner4.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    80% {
        background-image: url('../assets/bgBanner5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background-image: url('../assets/bgBanner6.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@-moz-keyframes change-image {
    0% {
        background-image: url('../assets/bgBanner1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    20% {
        background-image: url('../assets/bgBanner2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    40% {
        background-image: url('../assets/bgBanner3.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    60% {
        background-image: url('../assets/bgBanner4.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    80% {
        background-image: url('../assets/bgBanner5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background-image: url('../assets/bgBanner6.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@-o-keyframes change-image {
    0% {
        background-image: url('../assets/bgBanner1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    20% {
        background-image: url('../assets/bgBanner2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    40% {
        background-image: url('../assets/bgBanner3.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    60% {
        background-image: url('../assets/bgBanner4.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    80% {
        background-image: url('../assets/bgBanner5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background-image: url('../assets/bgBanner6.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@keyframes change-image {
    0% {
        background-image: url('../assets/bgBanner1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    20% {
        background-image: url('../assets/bgBanner2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    40% {
        background-image: url('../assets/bgBanner3.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    60% {
        background-image: url('../assets/bgBanner4.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    80% {
        background-image: url('../assets/bgBanner5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background-image: url('../assets/bgBanner6.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#banner {
    margin-top: -25px;
    animation: change-image 60s infinite alternate;
    .columns {
        height: 85px;
        color: #ecf0f1;
        background-color: $darkBlue;
        align-items: center;
        text-align: center;
        #headcall {
            height: 85px;
            background-color: #d35400;
            a {
                color: white;
                text-decoration: underline;
                &:hover {
                    color: #bdc3c7;
                }
            }
            i {
                margin-top: 5%;
            }
        }
        i {
            font-size: 125%;
        }
    }
    .container {
        h1 {
            color: white;
        }
        .aws-btn {
            --button-primary-color: #475472;
            --button-primary-color-dark: #2a3143;
            --button-primary-color-light: #d4d9e4;
            --button-primary-color-hover: #424e6a;
            --button-primary-color-active: #3d4b6d;
            --button-primary-border: none;
        }
    }
}