#contact {
    margin-top: -25px;
    padding-bottom: 3%;
    background-color: #FCFBF7;
    h2 {
        margin-top: 3%;
    }
    #topInfo {
        height: 85px;
        color: #ecf0f1;
        background-color: $darkBlue;
        align-items: center;
        text-align: center;
        #headcall {
            height: 85px;
            background-color: #d35400;
            a {
                color: white;
                text-decoration: underline;
                &:hover {
                    color: #bdc3c7;
                }
            }
            i {
                margin-top: 5%;
            }
        }
        i {
            font-size: 125%;
        }
    }
    #infos {
        margin-left: 50%;
        transform: translateX(-50%);
        width: max-content;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #2C2F37;
        h1 {
            padding: 5%;
            color: #B58F56;
        }
        h2 {
            color: white;
            padding: 5%;
            i {
                margin-right: 5%;
            }
        }
        a {
            color: #2B9155;
            &:hover {
                color: #233F34;
            }
        }
    }
}