@import './variables';

@import './header';
@import './banner';
@import './about';
@import './products';
@import './footer';
@import './contact';

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: gray;
        border: 2px solid #F5F5F5;
    }
}

.heading-site {
    padding-top: 2.5%;
    text-align: center;
    font-family: $myFont;
    font-size: 300%;
}

/*
RESPONSIVE
*/

@media screen and (max-width: 1024px) {
    #computer_navbar {
        display: none;
    }
    #tophead {
        display: none;
    }
    #contact {
        padding-top: 5%;
        #formContact {
            padding-left: 5%;
            padding-right: 5%;
        }
        #topInfo {
            display: none;
        }
    }
    #footer {
        .items {
            margin-top: 3%;
        }
    }
    .header {
        top: 0;
    }
}

@media screen and (min-width: 1024px) {
    #responsive_navbar {
        display: none;
    }
    .header {
        line-height: 70px;
    }
    #banner {
        .container {
            margin-top: 10%;
            margin-left: 20%;
        }
    }
    #footer {
        .items {
            margin-top: 50%;
            transform: translateY(-10%);
        }
    }
}

@media screen and (max-width: 310px) {
    .banner-content h2 {
        display: none;
    }
}
